.card-list-item {
    display: grid;
    column-gap: 20px;
    row-gap: 7px;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, .15);
    height: 280px;
    grid-template-columns: 183px 1fr;
    grid-template-rows: auto auto auto 1fr auto;
    overflow: hidden;
}

.card-img {
    width: 183px;
    grid-row: 1/6;
    height: 100%;
    object-fit: cover;
}

.card-info {
    padding: 10px 9px 0 0;
}

h4:where(.css-dev-only-do-not-override-1uq9j6g).ant-typography {
    margin-bottom: 0;
    font-weight: 400;
}

.card-date {
    padding-right: 9px;
}

.card-tags {
    display: flex;
    flex-wrap: wrap;
    align-self: start;
    row-gap: 6px;
    padding-right: 9px;
}

.card-overview {
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 9px;
}

.card-stars {
    padding-right: 9px;
    padding-bottom: 15px;
}

.ant-rate {
    font-size: 15px;
    align-self: flex-end;
}

.card-popularity {
    display: flex;
    border: 2px solid black;
    border-radius: 50px;
    width: 30px;
    height: 30px;
    font-size: 12px;
    justify-content: center;
    align-items: center;
    justify-self: end;
    align-self: start;
    flex-shrink: 0;
}

.red {
    border-color: #E90000;
}
.orange {
    border-color: #E97E00;
}
.yellow {
    border-color: #E9D100;
}
.green {
    border-color: #66E900;
}
 
@media (max-width: 980px) {
    .card-list-item {
        column-gap: 13px;
        height: 245px;
        grid-template-columns: auto 1fr;
        padding: 6px 10px 15px;
    }

    .card-img {
        width: 60px;
        height: 90px;
        grid-row: 1/4;
    }

    .card-info {
        padding: 0;
    }

    .card-date {
        padding: 0;
    }
    
    .card-tags {
        padding: 0;
    }

    .card-overview {
        grid-column: 1/3;
        padding: 0;
    }

    .card-stars {
        grid-column: 1/3;
        padding: 0
    }
}